@page "/password/test"
@namespace Linova.ActiveDirectory.SelfService.Pages

@using LanguageExt.UnsafeValueAccess
@using LanguageExt.Common
@model Linova.ActiveDirectory.SelfService.Pages.TestPasswordPageModel

@section Heading
{
    <h2>Change Your Active Directory Password</h2>
}

<!-- Success Message, if present -->
@if (Model.TestResult.IsRight)
{
    <div class="row justify-content-center">
        @if (Model.TestResult.Value())
        {
            <div class="lead text-success">Password is correct</div>
        }
        else
        {
            <div class="lead text-danger">Password is incorrect or user does not exist</div>
        }
    </div>
    <div class="row justify-content-center mt-5">
        <a asp-page="@PageNames.Home" role="button" class="btn btn-outline-primary">Back to home page</a>
    </div>
}
else
{
    <div class="row">
        @foreach (var error in Model.TestResult.LeftAsEnumerable())
        {
            <!-- Server-side error text -->
            <div class="lead mb-2 col-12">
                <span class="mr-2 text-danger">@error.Message</span>
            </div>
        }
        <!-- Model validation error text -->
        <div asp-validation-summary="ModelOnly" class="lead text-danger mb-2 col-12"></div>
        <form method="post" class="col-12 needs-validation" asp-antiforgery="false">
            <div class="form-group row">
                <label asp-for="FormModel.Username" class="col-form-label col-sm-3">Username</label>
                <div class="input-group col-sm-9">
                    <div class="input-group-prepend">
                        <span class="input-group-text text-monospace">@await Model.DomainName\</span>
                    </div>
                    <input type="text" class="form-control text-monospace" asp-for="FormModel.Username" placeholder="Your Username"/>
                </div>
                <span asp-validation-for="FormModel.Username" class="text-danger d-block col-sm-9 mr-0 ml-auto"></span>
            </div>
            <div class="form-group row">
                <label asp-for="FormModel.Password" class="col-sm-3 col-form-label">Password</label>
                <div class="col-sm-9">
                    <input asp-for="FormModel.Password" type="password" class="form-control" placeholder="Your Password">
                </div>
                <span asp-validation-for="FormModel.Password" class="text-danger d-block col-sm-9 mr-0 ml-auto"></span>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Test Password</button>
        </form>
    </div>
}